<h1>試乗車一覧</h1>

<%= link_to "新規登録", new_admin_car_path, class: "btn btn-primary" %>

<table class = "table table-hover">
  <thead class = thead-default>
    <tr>
      <th><%= Car.human_attribute_name(:name) %></th>
      <th><%= Car.human_attribute_name(:count) %></th>
      <th><%= Car.human_attribute_name(:car_image) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.name %></td>
        <td><%= car.waiting_spot %></td>
        <td><%= image_tag car.map_image.url %></td>
        <td>
          <%= link_to "編集", edit_admin_car_path(id: car.id), class: "btn btn-primary mr-3" %>
          <%= link_to "削除", admin_car_path(id: car.id), method: :delete, data: {confirm: "「#{car.name}」駅を削除します。よろしいですか？"}, class: "btn btn-danger mr-3" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
