<div class="top-wrapper">
  <div class="container new-container">
    <h1 class="text-center">車種・日時を選択してください：</h1>

    <% @cars. each do |car| %>
      <h4><%= car.name %></h4>
      <div class="available-car-image">
        <%= image_tag car.car_image.to_s %>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered text-nowrap text-center">
          <thead class="thead-dark">
            <tr>
              <th><%= @d.strftime("%m月/%d日") %></th>
              <th><%= (@d + 1).strftime("%m月/%d日") %></th>
              <th><%= (@d + 2).strftime("%m月/%d日") %></th>
              <th><%= (@d + 3).strftime("%m月/%d日") %></th>
              <th><%= (@d + 4).strftime("%m月/%d日") %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a data-target="modal" class="modal-open">
                  ○
                </a>
              </td>
              <td>
                <a data-target="modal" class="modal-open">
                  ○
                </a>
              </td>
              <td>
                <a data-target="modal" class="modal-open">
                  ○
                </a>
              </td>
              <td>
                <a data-target="modal" class="modal-open">
                  ○
                </a>
              </td>
              <td>
                <a data-target="modal" class="modal-open">
                  ○
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>

  <div id="modal" class="time-container modal-content">
    <h1>予約可能時間：</h1>
    <div class="row">
      <button class="col-md time-btn">16:00</button>
      <button class="col-md time-btn">16:30</button>
    </div>
    <div class="row">
      <button class="col-md time-btn">17:00</button>
      <button class="col-md time-btn">17:30</button>
    </div>
    <div class="row">
      <button class="col-md time-btn">18:00</button>
      <button class="col-md time-btn">18:30</button>
    </div>
    <div class="row">
      <button class="col-md time-btn">19:00</button>
      <button class="col-md time-btn">19:30</button>
    </div>

    <%= link_to "予約完了！", public_reservations_confirm_path, class: "btn btn-complete btn-danger" %>

  </div>

</div>
