<h1>試乗可能時間の一覧</h1>

<div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" role="presentation">
      <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">2/1</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">2/2</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_c" data-toggle="tab" href="#tab_c" role="tab">2/3</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_a" role="tabpanel">
      <%= link_to "新規登録", new_admin_stock_path, class: "btn btn-primary" %>

      <table class = "table table-hover">
        <thead class = thead-default>
          <tr>
            <th><%= Stock.human_attribute_name(:date) %></th>
            <th><%= Stock.human_attribute_name(:time) %></th>
            <th><%= Stock.human_attribute_name(:availables) %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @stocks.each do |stock| %>
            <tr>
              <td><%= stock.date %></td>
              <td><%= stock.time %></td>
              <td><%= stock.availables %></td>
              <td>
                <%= link_to "編集", edit_admin_stock_path(id: stock.id), class: "btn btn-primary mr-3" %>
                <%= link_to "削除", admin_stock_path(id: stock.id), method: :delete, data: {confirm: "「#{stock.name}」駅を削除します。よろしいですか？"}, class: "btn btn-danger mr-3" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="tab_b" role="tabpanel">
      <p>
        タブBです
      </p>
    </div>
    <div class="tab-pane" id="tab_c" role="tabpanel">
      <p>
        タブC!!
      </p>
    </div>
  </div>
</div>
