<div class="admin-wrapper">
  <div class="container admin-container">

    <h1>登録時間の一覧</h1>

    <%= link_to "新規登録", new_admin_stock_path, class: "btn btn-admin btn-primary" %>

    <table class = "table table-hover">
      <thead class = thead-default>
        <tr>
          <th><%= Stock.human_attribute_name(:date) %></th>
          <th><%= Stock.human_attribute_name(:time) %></th>
          <th><%= Car.human_attribute_name(:name) %></th>
          <th><%= Stock.human_attribute_name(:availables) %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @stocks.each do |stock| %>
          <tr>
            <td><%= stock.date %></td>
            <td><%= stock.time %></td>
            <td><%= stock.car.name %></td>
            <td><%= stock.availables %></td>
            <td>
              <%= link_to "編集", edit_admin_stock_path(id: stock.id), class: "btn btn-primary mr-3" %>
              <%= link_to "削除", admin_stock_path(id: stock.id), method: :delete, data: {confirm: "「#{stock.car.name}」を削除します。よろしいですか？"}, class: "btn btn-danger mr-3" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
