<div class="admin-wrapper">
  <div class="container admin-container">
    <h1>試乗可能時間の登録</h1>

    <%= form_for [:admin, @stock] do |f| %>
    <p class="stock-title">試乗車を選択してください</p>
    <div class="car-cards">

      <%= f.collection_check_boxes :car_id, @cars, :id, :name, include_hidden: false do |b| %>
        <%= b.check_box %>
        <%= b.label %>
        <%= image_tag b.object.car_image.to_s %>
      <% end %>
    </div>

    <div class="angle-container">
      <i class="fas fa-angle-down fa-4x"></i>
    </div>

    <p class="stock-title">日時・時間・台数を選択してください</p>
    <div class="stock-cards">
      <%= f.fields_for "stocks[]", f.object do |c| %>
        <div class="row">
          <div class="col-md-4 form-group form-row">
            <p class="col-md-3"><%= c.label :date %></p>
            <div class="col-md-9">
              <%= c.date_field :date, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-4 form-group form-row">
            <p class="col-md-3"><%= c.label :time %></p>
            <div class="col-md-9">
              <%= c.select :time, [["16:00", "16:00"], ["16:30", "16:30"],["17:00", "17:00"],["17:30", "17:30"],["18:00", "18:00"],["18:30", "18:30"],["19:00", "19:00"],["19:30", "19:30"]], class:"form-control" %>
            </div>
          </div>
          <div class="col-md-4 form-group fomr-row">
            <p class="col-md-3"><%= c.label :availables %></p>
            <div class="col-md-9">
              <%= c.number_field :availables, class:"form-control" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-group form-row">
            <p class="col-md-3"><%= c.label :date %></p>
            <div class="col-md-9">
              <%= c.date_field :date, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-4 form-group form-row">
            <p class="col-md-3"><%= c.label :time %></p>
            <div class="col-md-9">
              <%= c.select :time, [["16:00", "16:00"], ["16:30", "16:30"],["17:00", "17:00"],["17:30", "17:30"],["18:00", "18:00"],["18:30", "18:30"],["19:00", "19:00"],["19:30", "19:30"]], class:"form-control" %>
            </div>
          </div>
          <div class="col-md-4 form-group fomr-row">
            <p class="col-md-3"><%= c.label :availables %></p>
            <div class="col-md-9">
              <%= c.number_field :availables, class:"form-control" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-group form-row">
            <p class="col-md-3"><%= c.label :date %></p>
            <div class="col-md-9">
              <%= c.date_field :date, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-4 form-group form-row">
            <p class="col-md-3"><%= c.label :time %></p>
            <div class="col-md-9">
              <%= c.select :time, [["16:00", "16:00"], ["16:30", "16:30"],["17:00", "17:00"],["17:30", "17:30"],["18:00", "18:00"],["18:30", "18:30"],["19:00", "19:00"],["19:30", "19:30"]], class:"form-control" %>
            </div>
          </div>
          <div class="col-md-4 form-group fomr-row">
            <p class="col-md-3"><%= c.label :availables %></p>
            <div class="col-md-9">
              <%= c.number_field :availables, class:"form-control" %>
            </div>
          </div>
        </div>
        <% end %>
      <div class="btn-wrapper">
        <%= f.submit "登録する", class: "btn btn-register btn-primary" %>
      </div>

    </div>

    <% end %>
  </div>
</div>
