<%= form_with model: [:public, user], local: true do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :tel %>
    <%= f.text_field :tel, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :postalcode %>
    <%= f.text_field :postalcode, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :current_maker %>
    <%= f.select :current_maker, [["トヨタ","トヨタ"],["日産","日産"]], class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :current_car %>
    <%= f.text_field :current_car, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :status %>
    <%= f.select :status, [["3か月以内に購入予定","3か月以内に購入予定"],["1年以内に購入予定","1年以内に購入予定"],["未定","未定"]], class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :candidate %>
    <%= f.select :candidate, [["BMWを購入予定","BMWを購入予定"],["他メーカーの車種と迷っている","他メーカーの車種と迷っている"],["未定","未定"]], class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

  <%= f.submit "登録する", class: "btn btn-primary" %>
<% end %>
