<!DOCTYPE html>
<html>
  <head>
    <title>Test Drive</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-light navbar-fixed bg-secondary">
      <div class="container">
        <%= link_to "Test Drive", "#", class: "navbar-brand" %>
        <ul class="nav navbar-nav ml-auto">
          <% if current_dealer %>
            <li class="nav-item"><%= link_to "ディーラー一覧", admin_dealers_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "ログアウト", admin_logout_path, method: :delete, class: "nav-link" %></li>
          <% else %>
            <li class="nav-item"><%= link_to "ログイン", admin_login_path, class: "nav-link" %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
